html {
  font-family: system-ui, -apple-system, sans-serif;
  font-size: 16px;
  
}

.sticky-title {
  position: sticky;
  top: 0;
  text-align: right;
}

.amiibo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2vh;
  margin: 1rem auto;
  text-align: center;
 
  
  
}

.amiibo img {
  max-height: fit-content;
  max-width: 250px;
}




@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

.loader {
  position: relative;
  margin: auto;
  display: block;
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #000;
}

.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #000;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

#search {
 
  position: fixed;
  background-color: #333;
  color: #FFD700;
  border: 2px solid #FFD700;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  font-family: 'Press Start 2P', cursive;
}

#search::placeholder {
  color: #666;
}

#search:focus {
  border-color: #00FF00;
  outline: none;
}

body {
  background-color: #000; /* Color de fondo oscuro para el body */
  color: aliceblue;
}

h1, h2 {
  color: #FFD700; /* Texto dorado */
  font-family: 'Press Start 2P', cursive; /* Fuente de estilo retro de videojuegos */
}

/* Estilo adicional para h1 */
h1 {
  font-size: 32px; /* Tamaño de fuente más grande para h1 */
}


h2 {
  font-size: 24px; 
}

